
@font-face {
  font-family: 'Dodeca Bold Basic';
  src: url('../fonts/dodeca_bold_basic-webfont.ttf'); 
  src: url('../fonts/dodeca_bold_basic.otf'),
       url('../fonts/dodeca_bold_basic-webfont.woff') format('woff')
}

@font-face {
  font-family: 'Dodeca Light Basic';
  src: url('../fonts/dodeca_light_basic-webfont.ttf'); 
  src: url('../fonts/dodeca_light_basic.otf'),
       url('../fonts/dodeca_light_basic-webfont.woff') format('woff')
}

@font-face {
  font-family: 'Dodeca Reg Basic';
  src: url('../fonts/dodeca_reg_basic-webfont.ttf'); 
  src: url('../fonts/dodeca_reg_basic.otf'),
       url('../fonts/dodeca_reg_basic-webfont.woff') format('woff')
}

@font-face {
  font-family: 'Dodeca Semi Basic';
  src: url('../fonts/dodeca_semi_basic-webfont.ttf'); 
  src: url('../fonts/dodeca_semi_basic.otf'),
       url('../fonts/dodeca_semi_basic-webfont.woff') format('woff')
}

body, .bar, .bar-dark, .bar-stable, .button, h4, h1.title, h1.logo{
	font-family: 'Dodeca Bold Basic' !important;
}

h5{
	font-family: 'Dodeca Reg Basic' !important;	
}

.bar { 
	background-image: none !important; 
	padding: 5px 20px;
}

.bar .title{
	font-size: 3.2vh;
	color: #4A4A4A;
}

.bar .title + .button:last-child{
	right: 20px;	
}

.bar.bar-header.no-bg-color, .bar.bar-footer.no-bg-color{
	border: 0px;
	border-color: transparent;
	border-top: transparent;
	border-bottom: transparent;
	background-image: none !important; 
}

/*Intro*/

.bar.bar-light h1.title{
	font-size:6.5vh;
	margin-top:6vh;
	font-family: 'Dodeca Reg Basic' !important;
	color: #4A4A4A;
}

.intro-text h5{
	font-family: 'Dodeca Reg Basic' !important;
	font-size: 2.8vh;
}

.intro .slider-pager{
	bottom: 5vh;
}

.slider-pager .slider-pager-page {
    margin: 0px 12px;
    width: 12px;
}

h5.skip-button{
	font-family: 'Dodeca Reg Basic' !important;
	color: #9013fe;
	letter-spacing: -0.13px;
	line-height: 24px;
	padding-left: 10%;
	min-width: 80px;
	font-size: 2.6vh;
	position: absolute;
	bottom: 6%;
}

a.info-button{
	position: absolute;
	bottom: -3%;
	padding-left: 10%;
}

h5.text-danger{
  color:red;
}

.bar-footer {
    height: 8vh;
}

.bar.bar-light {
    border: 0px solid transparent;
}

.bar.bar-light.bar-footer {
	border: 0px solid transparent;
	padding: 5px;
}

.form .button-clear.button-clear{
	color:black;
	font-size: 2.5vh;
}

h5.no-margin{
	margin-top: 10px;
	font-size: 3vh;
}

/*End Intro*/

/* Capture */

.bar-stable .button.button-clear, .bar-light .button.button-clear, .button-clear.button-clear {
    font-size: 18px;
}

.capture-title{
	padding-top: 3vh;
}

.bar.bar-dark {
    background-color: black;
}

/* End Capture */

.details-opacity{
	opacity: 0.3;	
}

/* photo */

.subheader-title{
    line-height: 1.1;
    font-size: 2vh;
}

.bar.bar-stable .title {
     color: white; 
}

.bar-subheader{
	font-size: 12px;
	height: 53px;
}

.bar-subheader a{
	text-decoration: none;
	color:black;
}

.box{
	width:50px;
	height:50px;
	background-color: black;
	display: inline-block;
}

.box-color{
	width:100%;
	height:10vh; /*50px;*/
	border: 1px solid white;
	border-radius: 5px;
}

.bc-shadow{
	box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 1)
}

.box-color-container{
	position: absolute; 
	bottom: 8vh; 
	background: black; 
	width: 100%
}

.box-outline{
	border: 2px solid black;
}

.main-box-color{
	width: 100%;
	border: 1px solid #979797;
	background-color: white;
	position: relative;
	top: -10px;
	border-radius: 5px;
	text-align: center;
/*	background: url("../images/choice.png") no-repeat center center;*/
}

.main-box-color:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


#detail-box{
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#detail-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.box-detail{
	width:100%;
	height:12vh;
	border: 1px solid #979797
}

.box-detail-main{
	width: 100%;
    height: 100%;
    padding-top: 15vh;
    border-radius: 5px 5px 0px 0px;
   /* border: 1px solid darkgray;*/
    position: absolute;
    bottom: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.ion-checkmark{
	line-height: 12vh;
}

.ion-checkmark:before{
	font-size: 6vh !important;
	color: black;
}

.form.ion-checkmark{
	line-height: 0;
}

.form.ion-checkmark:before{
	color:rgb(144, 19, 254);
	font-size: 22px !important;
}

.detail.ion-checkmark:before{
	font-size: 30px !important;
	color: black;
	position: absolute;
	top: -40%;
	right: 35%;
}

.no-pad{
	margin: 0px;
	padding: 0px;
}

.no-pad-lr{
	padding-left: 0px;
	padding-right: 0px;
}

.margin-top{
	margin-top: 6vh;
}

.no-margin {
	margin: 0px;
}

.only-margin-top{
	margin: 0px;
	margin-top: 5px
}

a {
	text-decoration: none;
}

h2.wheel-text{
	font-size:20px;
	color: #4a4a4a;
	font-family: 'Dodeca Reg Basic' !important;
}

.box-bottom-container{
	position: absolute; 
	bottom: -10px; 
	width: 100%;
}

.bar-stable.bar-header, .bar-dark.bar-header, .bar-request.bar-header{
	top: -20px;
}

.relative-pick{
	position: relative;
}

.margin-top-detail{
	margin-top: 70px;
}

.margin-top-wheel{
	margin-top: 10vh;
}


.form-hex-rgb {
	border: 1px solid gray;
	display:inline-block;
	padding:5px;
}

.detail-hex h5{
	font-size: 2.5vh;
}

.detail-hex-rgb {
	border: 1px solid gray;
	display:inline-block;
	padding:5px;
	font-size: 2.5vh;
}

p.has-error{
	padding-top:5px;
	padding-bottom:0px;
	margin-bottom: 0px;
	color: red;
}

.button.button-royal{
	background-color: rgb(144, 19, 254);	
}

.purple-background{
	color: rgb(144, 19, 254);
	font-size: 20px;
}

button.ion-camera:before {
    font-size: 50px !important;
}

button.ion-images:before {
    font-size: 50px !important;
}

button.ion-ios-color-filter:before {
    font-size: 50px !important;
}

.ion-ios-circle-outline:before{
	color: #9013fe;
    font-size: 18px;
}

.ion-ios-information:before{
	color: #9013fe;
	font-size: 30px;
}

.ion-record:before{
	color: #9013fe;
	font-size: 18px;
	transition: opacity 0.4s ease-in;
}

.ion-ios-arrow-right:before {
    font-size: 11px;
}

.ion-ios-arrow-left:before {
    font-size: 11px;
}

/* Form */

input::-webkit-input-placeholder,  textarea::-webkit-input-placeholder{ 
    color:black;
    opacity: 1 !important;
    font-family: 'Dodeca Reg Basic' !important;	
}
input:-moz-placeholder { 
   color:black;
   opacity: 1 !important;
   font-family: 'Dodeca Reg Basic' !important;	
}
input::-moz-placeholder { 
   color:black;
   opacity: 1 !important;
   font-family: 'Dodeca Reg Basic' !important;	
}
input:-ms-input-placeholder { 
   color:black;
   opacity: 1 !important;
   font-family: 'Dodeca Reg Basic' !important;	
}

label.item-input{
	border: 1px solid #979797;
}

label.item-input.danger{
	border: 1px solid red !important;
}

.form-nav-circles .form-nav{
	margin: 0px 12px;
}

.final-form h5{
	font-size: 16px;
}

.item.item-input input, .item.item-input textarea{
	font-size: 16px;
}

.item-select select{
	/*padding: 14px 150px 16px 16px;*/
	padding-top: 0px;
	padding-bottom: 0px;
    font-size: 16px;
    width: 100%;
/*    min-width: 255px;*/
	max-width: 100%;
	font-family: 'Dodeca Reg Basic' !important;	
}

h4.form-header{
	color: #9013fe;
	font-size: 22px;	
}

.slider-pager .slider-pager-page {
     opacity: 1; 
}

.slider-pager .slider-pager-page .active i.icon.ion-record:before{
     color: #9013fe;
}

.spinner svg {
  width: 19% !important;
  height: 20px !important;
}

/* End Form */