<ion-header-bar class="bar-stable">
  <button class="button button-clear ion-ios-arrow-left" ui-sref="logo">
     back
  </button>
    <h1 class="title" style="color: #4a4a4a;">Capture</h1>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false">
    <div class="row row-center" style="margin-top:5vh;margin-bottom:5vh">    
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <a href="#" ng-click="takePhoto()">
            <img src="images/take-picture.svg" style="width:23%">
            <h5 class="no-margin">Take Picture</h5>
          </a>

     
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>
    <br>  
    <div class="row row-center">  
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <a href="#" ng-click="choosePhoto()">
              <img src="images/library.svg" style="width:30%">
              <h5 class="no-margin">Use Photo Library</h5>
          </a>

       
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

      <img src="images/intro-middle-1.svg" style="width:100%;position:absolute;bottom: 2%;">
  </ion-content>
</ion-view>