<ion-header-bar class="bar-dark">
  <button class="button button-clear ion-chevron-left" ui-sref="logo">
     back
  </button>
    <h1 class="title" style="color:white">Capture</h1>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false">
    <div class="row row-center" style="margin-top:10vh">    
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <button class="button button-clear button-dark ion-camera" ng-click="takePhoto()">
          </button>
             <h5 class="no-pad">Take Picture</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

    <div class="row row-center">  
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <button class="button button-clear button-dark ion-images" ng-click="choosePhoto()">
          </button>
          <h5 class="no-pad">Use Photo Library</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>


  </ion-content>
</ion-view>