<ion-header-bar class="bar-light" style="height:70px">
    <h1 class="title" style="font-size:xx-large;margin-top:4vh">OptiColor Inc.</h1>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false">

   <div class="row row-center margin-top text-intro">
     <div class="col col-10"></div>
     <div class="col col-80 text-center">
       <h5 style="padding-bottom:10px;">Great! You should hear from us soon about your sample.</h5>
       <h5>Stay tuned to your inbox</h5>
     </div>
     <div class="col col-10"></div>
   </div>

    <div class="row">
          <div class="col col-20"></div>
          <div class="col col-60">
              <img src="images/confirmation-plane.png" style="width:100%">
          </div>
            <div class="col col-20"></div>
        </div>

        <img src="images/confirmation-bg.png">

    <div class="row row-center margin-top">
      <div class="col col-10"></div>
      <div class="col col-80 text-center">
        <button class="button button-full button-royal" ui-sref="logo">
          Capture another color
        </button>
      </div>
      <div class="col col-10"></div>
    </div>


  </ion-content>
</ion-view>