<ion-header-bar class="bar-light no-bg-color">
  <button class="button button-clear">
  </button>
  <div class="title">
      Color details
  </div>
  <button class="button button-clear" ng-click="goBack();">
      <i class="ion-close"></i> 
  </button>
</ion-header-bar>


<ion-view>
 <!--  <ion-content> -->
    <!-- hex and rgb details -->
    <div class="row text-center margin-top-detail no-pad detail-hex">
      <div class="col col-35 no-pad"></div>
      <div class="col col-30 no-pad">
        <h4 class="detail-hex-rgb no-margin">{{hex | uppercase}}</h4> 
        <h5>Hex</h5>
      </div>
      <div class="col col-35 no-pad"></div>
    </div>
    <!-- end hex and rgb details -->
  <div class="row text-center no-pad detail-hex" style="margin-bottom:2vh">
    <div class="col col-34 no-pad"></div>
    <div class="col col-10 no-pad">
      <h4 class="detail-hex-rgb only-margin-top">{{red}}</h4> 
      <h5 class="only-margin-top">R</h5>
    </div>
    <div class="col col-1 no-pad"></div>
    <div class="col col-10 no-pad">
      <h4 class="detail-hex-rgb only-margin-top">{{green}}</h4> 
      <h5 class="only-margin-top">G</h5>
    </div>
    <div class="col col-1 no-pad"></div>
    <div class="col col-10 no-pad">
      <h4 class="detail-hex-rgb only-margin-top">{{blue}}</h4>
      <h5 class="only-margin-top">B</h5>
    </div>
    <div class="col col-34 no-pad"></div>
  </div>

    <!-- main color -->
    <div class="row text-center">
      <div class="col col-10"></div>
      <div class="col col-80">
        <div id="detail-box"></div>
      </div>
      <div class="col col-10"></div>
    </div>
    <!-- end main color -->
    <!-- darken brignten color -->
  
    <div style="position:absolute; bottom: 0px; width: 100%">
        
      <div class="row text-center no-pad-lr">  
        <div class="col-12 box-detail" id="bright-three" ng-click="changeDetailColor('bright-three')">
          
        </div>
        <div class="col-12 box-detail" id="bright-two" ng-click="changeDetailColor('bright-two')">
          <!-- ng-click changeDetailColor('bright-two') -->
        </div>
        <div class="col-12 box-detail" id="bright-one" ng-click="changeDetailColor('bright-one')">
          
        </div>

        <div class="col-25 box-detail" style="position:relative">
            <div class="box-detail-main" id="main-detail">
                <i class="ion-checkmark detail"></i>
            </div>
        </div>
        <div class="col-12 box-detail" id="dark-one" ng-click="changeDetailColor('dark-one')">
          
        </div>
         <div class="col-12 box-detail" id="dark-two" ng-click="changeDetailColor('dark-two')">
          
        </div>
         <div class="col-12 box-detail" id="dark-three" ng-click="changeDetailColor('dark-three')">
          
        </div>
      </div>
    
    </div>
    <!-- end darken brighten color -->
  <!-- </ion-content> -->
</ion-view>