<ion-header-bar class="bar-light">
    <h1 class="title" style="color:black">Color details</h1>
</ion-header-bar>

<ion-view>
  <ion-content>

    <!-- hex and rgb details -->
    <div class="row text-center">
      <div class="col col-10"></div>
      <div class="col col-20">{{hex}} Hex</div>
      <div class="col col-15">{{red}} R
      </div>
      <div class="col col-15">{{green}} G</div>
      <div class="col col-15">{{blue}} B</div>
      <div class="col col-15">{{alpha}} A</div>
      <!--  2 1 1 1 1 -->
      <div class="col col-10"></div>
    </div>
    <!-- end hex and rgb details -->

    <!-- main color -->
    <div class="row text-center">
      <div class="col col-10"></div>
      <div class="col col-80" id="detail-box">
      </div>
      <div class="col col-10"></div>
    </div>
    <!-- end main color -->
    <br>
    <br>
    <br>
    <!-- darken brignten color -->
    <div style="position: absolute; bottom: 0px; width: 100%">
      <div class="row text-center no-pad-lr">  
        <div class="col-12 box-color" id="bright-three">
          
        </div>
        <div class="col-12 box-color" id="bright-two">
          
        </div>
        <div class="col-12 box-color" id="bright-one">
          
        </div>
        <div class="col-25 box-color" id="main">
          
        </div>
        <div class="col-12 box-color" id="dark-one">
          
        </div>
         <div class="col-12 box-color" id="dark-two">
          
        </div>
         <div class="col-12 box-color" id="dark-three">
          
        </div>
      </div>
    </div>
    <!-- end darken brighten color -->
  </ion-content>
</ion-view>