<ion-header-bar class="bar-light no-bg-color" style="height:70px">
    <h1 class="title logo">OptiColor Inc.</h1>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false">
    <div class="row row-center" style="margin-top:7vh;margin-bottom:3vh;">    
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <a ui-sref="capture">
            <img src="images/camera.svg" style="width:28%">
          </a>
          <h5 class="no-margin">Capture</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>
    <br>
    <div class="row row-center">  
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <a ui-sref="wheel">
            <img src="images/browse-colors.svg" style="width:23%">
          </a>
            <h5 class="no-margin">Browse Colors</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

  <div style="position:absolute;bottom: 6%;width:100%">
    <img src="images/intro-bottom-1.png" style="width:100%">
    <a ui-sref="intro">
      <h5 class="info-button"><i class="ion-ios-information"></i></h5>
    </button>
   </div>

  </ion-content>

</ion-view>
