<ion-header-bar class="bar-light" style="height:70px">
    <h1 class="title" style="font-size:xx-large;margin-top:4vh">OptiColor Inc.</h1>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false">
    <div class="row row-center" style="margin-top:12vh">    
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <button class="button button-clear button-dark ion-camera" ui-sref="capture">
          </button>
             <h5 class="no-pad">Capture</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

    <div class="row row-center">  
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <button class="button button-clear button-dark ion-ios-color-filter" ui-sref="wheel">
          </button>
            <h5 class="no-pad">Browse Colors</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>


  </ion-content>
</ion-view>