
<ion-header-bar class="bar-light no-bg-color" style="height:70px">
    <h1 class="title logo">OptiColor Inc.</h1>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false">
    <div class="row row-center" style="margin-top:10vh;margin-bottom:3vh;">    
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <a ui-sref="capture">
            <img src="images/camera.svg" style="width:28%">
          </a>
          <h5 class="no-margin">Capture</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>
    <br>
    <div class="row row-center">  
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <a ui-sref="wheel">
            <img src="images/browse-colors.svg" style="width:23%">
          </a>
            <h5 class="no-margin">Browse Colors</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>
<!-- 
    <br>
    <br>
    <img src="images/intro-bottom-1.png" style="width:100%;z-index:10;"> -->
     <img src="images/intro-bottom-1.png" style="width:100%;position:absolute;bottom: 2%;">
      <div style="width:100%;position:absolute;bottom:0px;">
          <a href="#" ui-sref="intro" class="button button-clear ion-ios-information"></a>
        </div>
   </ion-content>
  <ion-view>
   <!--  <div style="position:absolute; bottom:0px; left:0px;height:160px">
        <img src="images/intro-bottom-1.png" style="width:100%;z-index:10;">
        <div class="">
          <a href="#" ui-sref="intro" class="button button-clear ion-ios-information"></a>
        </div>
    </div> -->



<!-- </ion-view> -->

<!-- <ion-footer-bar align-title="left" class="bar-light no-bg-color" style="padding-left:20px">
  <div class="">
    <a href="#" ui-sref="intro" class="button button-clear ion-ios-information"></a>
  </div>
</ion-footer-bar> -->
  