<!-- header -->
<ion-header-bar class="bar-dark text-center" style="z-index:100;padding:5px">
  <div class="row">
  <div class="col-25">
     <a href="#" ng-click="clearPhoto();">
      <button class="button-clear"> 
        <i class="ion-ios-arrow-left"></i> back
      </button>
    </a>
  </div>
  <div class="col col-10"></div>
  <div class="col col-30 text-center">
    <div class="main-box-color" id="main-color"></div>
  </div>
  <div class="col col-10"></div>
  <div class="col-25">
      <button class="button-clear" ng-show="showCheck" ng-click="sendForm();"> 
         next <i class="ion-ios-arrow-right"></i> 
      </button>
  </div>
</div>
</ion-header-bar>
<!-- end header -->

<!-- subheader -->
<div class="bar bar-subheader text-center no-pad" style="display:grid">
  <div class="row no-pad">
    <div class="col-33">
      <div class="row" style="padding-top:10px;" ng-click="getZoom(imgURI);">
        <div class="col col-40 no-pad-lr">
          <img src="images/zoom.svg" style="width: 50%;margin-left: 6vw;">
        </div>
        <div class="col col-60 no-pad-lr">
          <p class="subheader-title">crop &amp; capture</p>
        </div>
      </div>
    </div>
    <div class="col-33">
    </div>
    <div class="col-33">
      <div class="row" style="padding-top:10px;" ng-click="sendDetails();" ng-class="{'details-opacity': !showCheck}">
        <div class="col col-25 no-pad-lr">
          <img src="images/details.svg" style="width: 100%;margin-left: 2vw;">
        </div>
        <div class="col col-75 no-pad-lr">
          <p class="subheader-title">view color details</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end subheader -->

<ion-view>
   <div class="row no-pad-lr" style="padding-top:18vh">
      <div class="col no-pad-lr">
       <!--   <img id="photo" ng-src="{{imgURI}}" style="width:100vw"> -->
         <img id="photo" src="images/test.jpg" style="width:100vw">
     </div>
   </div>

  <div class="box-color-container">
    <div class="row row-center text-center no-pad-lr">  
      <div class="col-20 box-color" id="one" ng-click="selectColor('one');" ng-class="{'bc-shadow': showCheck === 'one'}" >
        <i ng-show="showCheck === 'one'" class="ion-checkmark ng-hide"></i>
      </div>
      <div class="col-20 box-color" id="two" ng-click="selectColor('two');" ng-class="{'bc-shadow': showCheck === 'two'}" >
        <i ng-show="showCheck === 'two'" class="ion-checkmark ng-hide"></i>
      </div>
      <div class="col-20 box-color" id="three" ng-click="selectColor('three');" ng-class="{'bc-shadow': showCheck === 'three'}" >
        <i ng-show="showCheck === 'three'" class="ion-checkmark ng-hide"></i>
      </div>
      <div class="col-20 box-color" id="four" ng-click="selectColor('four');" ng-class="{'bc-shadow': showCheck === 'four'}" >
        <i ng-show="showCheck === 'four'" class="ion-checkmark ng-hide"></i>
      </div>
      <div class="col-20 box-color" id="five" ng-click="selectColor('five');" ng-class="{'bc-shadow': showCheck === 'five'}" >
        <i ng-show="showCheck === 'five'" class="ion-checkmark ng-hide"></i>
      </div>
    </div>
    <div class="row row-center text-center no-pad-lr">  
      <div class="col-20 box-color" id="six" ng-click="selectColor('six');" ng-class="{'bc-shadow': showCheck === 'six'}" >
        <i ng-show="showCheck === 'six'" class="ion-checkmark ng-hide"></i>
      </div>
      <div class="col-20 box-color" id="seven" ng-click="selectColor('seven');" ng-class="{'bc-shadow': showCheck === 'seven'}" >
        <i ng-show="showCheck === 'seven'" class="ion-checkmark ng-hide"></i>
      </div>
      <div class="col-20 box-color" id="eight" ng-click="selectColor('eight');" ng-class="{'bc-shadow': showCheck === 'eight'}" >
        <i ng-show="showCheck === 'eight'" class="ion-checkmark ng-hide"></i>
      </div>
      <div class="col-20 box-color" id="nine" ng-click="selectColor('nine');" ng-class="{'bc-shadow': showCheck === 'nine'}" >
        <i ng-show="showCheck === 'nine'" class="ion-checkmark ng-hide"></i>
      </div>
      <div class="col-20 box-color" id="ten" ng-click="selectColor('ten');" ng-class="{'bc-shadow': showCheck === 'ten'}" >
        <i ng-show="showCheck === 'ten'" class="ion-checkmark ng-hide"></i>
      </div>
    </div>
  </div>
</ion-view>
<ion-footer-bar align-title="left" class="bar-dark no-bg-color">
    <div></div>
    <h1 class="title">choose a color</h1>
    <div class="buttons"></div>
  </ion-footer-bar>