<ion-header-bar class="bar-light bar-request">
  <button class="button button-clear ion-ios-arrow-left" ng-click="goBack();">
     back
  </button>
    <h1 class="title"></h1>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false">
    <div class="row row-center intro-text tablet-correction-request">    
      <div class="col-22"></div>
      <div class="col col-center text-center">
             <h5>Now that you have chosen your desired color.
             	Let's get your details so we can send a sample to you.</h5>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

      <div class="row">
          <div class="col col-25"></div>
          <div class="col col-75">
              <img src="images/intro-middle-3.svg" style="width:100%">
          </div>
        </div>

        <img src="images/confirmation-bg.svg">

    <div class="row row-center">  
      <div class="col-22"></div>
      <div class="col col-center text-center">
      	<button class="button button-full button-royal" ui-sref="form">Request a sample</button>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

    
  </ion-content>
</ion-view>