<ion-header-bar class="bar-light">
  <button class="button button-clear ion-chevron-left" ng-click="goBack();">
     back
  </button>
    <h1 class="title"></h1>
</ion-header-bar>

<ion-view>
  <ion-content scroll="false">
    <div class="row row-center" style="margin-top:10vh">    
      <div class="col-22"></div>
      <div class="col col-center text-center">
             <h4>Now that you have chosen your desired color.<br> 
             	Let's get your details so we can send a sample to you.</h4>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

    <div class="row row-center">  
      <div class="col-22"></div>
      <div class="col col-center text-center">
          <button class="button button-clear button-dark ion-images" ng-click="choosePhoto()">
          </button>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

    <div class="row row-center">  
      <div class="col-22"></div>
      <div class="col col-center text-center">
      	<button class="button button-full button-royal" ui-sref="form">Request a sample</button>
      </div>
      <div class="col-22"><br><br><br><br><br><br></div>
    </div>

    
  </ion-content>
</ion-view>