<ion-view view-title="Search">
  <ion-content>
    <h1>Search 2</h1>
     <button ng-click="takePhoto()" class="button button-block button-primary">Take Photo</button>
      <button ng-click="choosePhoto()" class="button button-block button-primary">Choose Photo</button>
      <button ng-click="testApi()" class="button button-block button-primary">Test API yo</button>
      <br>
	<img id="image" ng-src="{{imgURI}}" style="width:200px;height:200px">
    <h2>{{test.Title}}</h2>
   <!--  <h2>{{palette}}</h2> -->
    <div id="dominant" class="box"></div>
    <div id="one" class="box"></div>
    <div id="two" class="box"></div>
    <div id="three" class="box"></div>
    <div id="four" class="box"></div>
    <div id="five" class="box"></div>
    <div id="six" class="box"></div>
    <div id="seven" class="box"></div>

  </ion-content>
</ion-view>
