<ion-header-bar class="bar-light bar-wheel">
  <button class="button button-clear ion-ios-arrow-left" ui-sref="logo">
     back
  </button>
  <div class="title">
    
  </div>
  <button class="button button-clear ng-hide" ng-show="color.hex" ng-click="sendForm();">
      next <i class="ion-ios-arrow-right"></i> 
  </button>
</ion-header-bar>

<ion-view>
  <div class="row row-center text-center margin-top-wheel">
    <div class="col">
      <h2 class="wheel-text-bold">Choose a Color</h2>
    </div>
  </div>
	<div class="row row-center text-center margin-top-wheel">  
		<div class="col">
			<div ng-colorwheel="{ size: 300, segments: 40 }" ng-model="color.hex"></div>
		</div>
	</div>

  <div class="row row-center text-center margin-top-wheel">
    <div class="col">
      <h2 class="wheel-text">Select a color from the wheel,<br>
        then drag the cursor inside the box<br>
        to expand color range</h2>
    </div>
  </div>

	 <div class="box-bottom-container-wheel" ng-show="color.hex" class="ng-hide">

      <br>
      <div class="row text-center no-pad-lr">  
        <div class="col col-15"></div>
        <div class="col col-75 box-detail-main" id="wheel-main" style="position:relative;"
           ng-click="sendWheelDetails();">
             <button class="button-clear no-pad-lr view-details" ng-click="sendWheelDetails();"> 
                View Color Details&nbsp;<i class="ion-ios-arrow-up"></i>
            </button>
        </div>
        <div class="col col-15">
          <br>
          <br>
        </div>
      </div>
    </div>
</ion-view>