<ion-header-bar class="bar-stable">
  <button class="button button-clear ion-chevron-left" ui-sref="capture">
     back
  </button>
  <div class="title">
    
  </div>
  <button class="button button-clear" ng-show="color.hex" ng-click="sendForm();">
      next <i class="ion-chevron-right"></i> 
  </button>
</ion-header-bar>

<ion-view>
<!--   <ion-content> -->
	<div class="row row-center text-center margin-top-wheel">  
		<div class="col">
			<div ng-colorwheel="{ size: 300, segments: 40 }" ng-model="color.hex"></div>
		</div>
	</div>

	 <div style="position: absolute; bottom: 0px; width: 100%" ng-show="color.hex" class="ng-hide">

      <div class="row no-pad-lr">
        <div class="col col-30">
          <!-- <i class="ion-ios-information"><i>  -->
        </div>
        <div class="col col-40"></div>
        <div class="col col-30">
        <!--   <span> -->
             <button class="button-clear no-pad-lr" ng-click="sendWheelDetails();"> 
                <img src="images/view-details.png">
            </button>
         <!--  <button class="button icon-left ion-ios-information" style="font-size:9px;white-space:normal;padding: 0px 3px" 
          ng-click="sendWheelDetails();"> 
            view color details</button> -->
         <!--  </span> -->
        </div>
      </div>

      <br>
      <div class="row text-center no-pad-lr">  
        <div class="col-12 box-detail" id="wheel-bright-three">
          
        </div>
        <div class="col-12 box-detail" id="wheel-bright-two">
          
        </div>
        <div class="col-12 box-detail" id="wheel-bright-one">
          
        </div>
        <div class="col-25 box-detail" style="position:relative">
          <div class="box-detail-main" id="wheel-main">
              <i class="ion-checkmark detail"></i>
          </div>
        </div>
        <div class="col-12 box-detail" id="wheel-dark-one">
          
        </div>
         <div class="col-12 box-detail" id="wheel-dark-two">
          
        </div>
         <div class="col-12 box-detail" id="wheel-dark-three">
          
        </div>
      </div>
    </div>
	<!-- </ion-content> -->
</ion-view>