<div style="position:relative;background-color:black;text-align:center" >
   <canvas width="300" height="300" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="300" crop-height="300" keep-aspect="true" touch-radius="60" crop-area-bounds="bounds"></canvas>
<button class="button button-outline button-energized" style="position:absolute;bottom:22px;right: 20px;width:86px"
	ng-click="sendCrop(cropper.croppedImage)">
		OK
</button> 
<button class="button button-outline button-energized" style="position:absolute;bottom:22px;left:20px;"
	ui-sref="photo">
		CANCEL
</button>   
</div>



